.parent{
  display: flex;
  flex-direction: column;
  justify-content: flex-center;

}
.childOne{

  width: 30%;
  padding: 2%;
  border: 3px solid blue;
  text-align: center;


  margin: 3%;


}
.chilTwo{
  width: 30%;
  padding: 2%;
  border: 3px solid red;
  background-color: red;
  margin: 3%;
}
